doctype
html
	head
		title #{title} - CTcue
		style(type="text/css"): include ../styles/style.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		
	body
		#header
			#buttons
				a(class='button') CTcue
				a(class='button' ) Compliance
				a(class='button' ) Early adopters
				a(class='button' ) Team
				a(class='button' ) Blog
				a(class='button' ) Contact
			
		
		#box1
			h2 CTcue makes EHR data accessible and useful
			p Instantly find eligible patients for studies or quality indicators with CTcue
			
			#static
				img.static(src="https://ctcue.com/img/screen-bg@2x.png" width='400' height='300')
				img.screen(src= "https://ctcue.com/img/app-impression-7@2x.png" width='370' height='250' )
			

			
		#box2
			h2 CTcue
			p Retrieving information from Electronic Health Records remains a major hurdle. Valuable patient information is stored as text (i.e. clinical notes, discharge letters etc.)
			iframe(type='text/html' width='500' height='280' src='https://www.youtube.com/embed/PbJbrP9sUFM' frameborder='0' )






	